a {
	color: var(--contentMainTableTextColor);
	text-decoration: none;
}

main {
	display: flex;
	gap: 10px;
	color: var(--contentMainTableTextColor);
}
#main-section {
	flex: 2;
}
#stats-section {
	flex: 1;
}

/*submenu*/
#submenu {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	gap: 10px;
}
#submenu a {
	text-decoration: none;
	width: 10%;
	text-align: center;
	border: none;
	background: var(--contentMainTableRowHover);
	color: var(--contentMainTableTextColor);
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
}
#submenu a:hover {
	text-shadow: 2px 2px 1px black;
	font-weight: bold;
}
#submenu a.selected {
	background: var(--contentMainTableBackground);
}

/*result box*/
#score-section {
	display: flex;
	height: 120px;
	background: var(--contentMainTableBackground);
}
#score-section .team-info {
	flex: 3;
}
#score-section .result {
	flex: 2;
}

#score-section div{
	margin-left: auto;
	margin-right: auto;
}

.team-info {
	display: flex;
	flex-direction: column;
}
.team-info .team-pic {
	width: 80px;
	height: 80px;
	flex: 2;
}
.team-info .team-name {
	flex: 1;
	font-size: 22px;
	display: flex;
	align-items: center;
}

/*.team-info .team-name a {
	color: var(--contentMainTableTextColor);
}*/

.team-info .team-name a:hover {
	color: var(--contentMainTableRowHover);
}

.result {
	display: flex;
	flex-direction: column;
}
.result .game-date {
	flex: 1;
	font-size: 11px;
	display: flex;
	align-items: center;
}
.result .score {
	flex: 2;
	font-size: 36px;
	display: flex;
	align-items: center;
}
.result .game-status {
	flex: 1;
	font-size: 18px;
	display: flex;
	align-items: center;
}

/*match events*/
#event-section table{
	width: 100%;
	padding: 0px;
	border-spacing: 0px;
}
#event-section .matchData {
	width: 100%;
	padding: 0px;
	background-color: var(--contentMainTableMatchData);
	border: inset;
	border-color: var(--contentMainTableRowHover);
}
#event-section .periodEventIcon {
	width: 20px;
	height: 20px;
}
#event-section .periodHeader {
	background-color: var(--htmlBackground); 
	display: flex;
	justify-content: space-between;
	width: 100%;
}
#event-section .periodHeader div {
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#event-section .eventLineHome {
	display: block;
	float: left;
	width: 95%;
	padding-top: 5px;
	margin-left: 5px;
	padding-bottom: 5px;
}
#event-section .eventLineAway {
	display: block;
	width: 100%;
	height: 100%;
	text-align: right;
	float: right;
	margin-left: auto;
	margin-right: 0px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
}
.eventLineAway .periodEventTime, .eventLineAway .periodEventIcon, .eventLineAway .periodEventMainPlayer, .eventLineAway .periodEventStrength, .eventLineAway .periodEventAssist {
	float: right;
	padding-right: 5px;
}
.eventLineAway .periodEventAssist {
	width: 100%;
	margin-left: auto;
	margin-right: 0px;
}
.periodEventTime, .periodEventIcon, .periodEventMainPlayer, .periodEventStrength, .periodEventPenaltyType {
	display: inline-block;
	vertical-align: middle;
}
.eventLineHome img, .eventLineAway img {
	padding-left: 3px;
	padding-right: 3px;
}
.periodEventAssist {
	display: block;
	font-style: oblique;
	font-size: 13px;
}
.periodEventPenaltyType, .periodEventStrength, .periodEventPenaltyType {
	font-style: oblique;
	font-size: 14px;
	padding-right: 5px;
}
.periodEventMainPlayer {
	font-weight: bold;
}
.gameDetailPlayerName {
	font-size: 15px;
	cursor: pointer;
}
.gameDetailPlayerName:hover {
	color: var(--contentMainTableRowHover);
}

/*head to head section*/
.h2h-label {
	padding-left: 10px;
	font-size: 16px;
	margin-bottom: 5px;
	color: var(--contentMainTableRowLine);
}

.h2h-list {
	background-color: var(--contentMainTableBackground);
	margin-bottom: 10px;
}

.h2h-list .selected {
	border: 3px solid var(--contentMainTableRowLine);
}

.h2h-game:hover {
	cursor: pointer;
	background-color: var(--contentMainTableRowHover);
}

.h2h-game {
	display: flex;
	/*margin-top: 3px;
	margin-bottom: 3px;*/
	border-bottom: 1px solid var(--contentMainTableRowLine);
}
.h2h-game .h2h-team-info {
	flex: 1;
	display: flex;
	flex-direction: column;
}
.h2h-game .h2h-result {
	flex: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.h2h-team-info .h2h-team-pic {
	flex: 2;
	display: flex;
	justify-content: center;
}
.h2h-team-pic img{
	width: 45px;
	height: 45px;
}
.h2h-team-info .h2h-team-name {
	flex: 1;
	display: flex;
	justify-content: center;
}

.h2h-result .h2h-game-date {
	flex: 1;
	font-size: 11px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.h2h-result .h2h-score {
	flex: 2;
	font-size: 26px;
	display: flex;
	justify-content: center;
}
