#game-header {
	display: flex;
	height: 120px;
	background: var(--contentMainTableBackground);
	color: var(--contentMainTableTextColor);
}
#game-header .team-info {
	flex: 3;
}
#game-header .result {
	flex: 2;
}

#game-header div{
	margin-left: auto;
	margin-right: auto;
}

.team-info {
	display: flex;
	flex-direction: column;
}
.team-info .team-pic {
	width: 80px;
	height: 80px;
	flex: 2;
}
.team-info .team-name {
	flex: 1;
	font-size: 22px;
	display: flex;
	align-items: center;
}

.team-info div {
	cursor: pointer;
}

.team-info .team-name:hover {
	color: var(--contentMainTableRowHover);
	font-weight: bold;
}

.result {
	display: flex;
	flex-direction: column;
}
.result .game-date {
	flex: 1;
	font-size: 11px;
	display: flex;
	align-items: center;
}
.result .score {
	flex: 2;
	font-size: 36px;
	display: flex;
	align-items: center;
}
.result .game-status {
	flex: 1;
	font-size: 18px;
	display: flex;
	align-items: center;
}