#submenu {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	gap: 10px;
}
#submenu span {
	text-decoration: none;
	width: 15%;
	text-align: center;
	border: none;
	background: var(--contentMainTableRowHover);
	color: var(--contentMainTableTextColor);
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
}
#submenu span:hover {
	text-shadow: 2px 2px 1px black;
	font-weight: bold;
}
#submenu span.selected {
	background: var(--contentMainTableBackground);
}