/*global*/
a {
	color: var(--contentMainTableTextColor);
	text-decoration: none;
}

/*main structure*/
main {
	display: flex;
	gap: 10px;
	color: var(--contentMainTableTextColor);
}
#main-section {
	flex: 2;
}
#stats-section {
	flex: 1;
}

/*period navigation*/
#period-nav {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	gap: 10px;
}
#period-nav a {
	text-decoration: none;
	width: 12%;
	text-align: center;
	border: none;
	background: var(--contentMainTableRowHover);
	color: var(--contentMainTableTextColor);
	padding-top: 2px;
	padding-bottom: 2px;
	cursor: pointer;
}
#period-nav a:hover {
	text-shadow: 2px 2px 1px black;
	font-weight: bold;
}
#period-nav a.selected {
	background: var(--contentMainTableBackground);
}

/*game stats*/
#game-stats {
	display: flex;
	flex-direction: column;
	background: var(--contentMainTableBackground);
}

.stat-line {
	display: flex;
	flex-direction: column;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.stat-line .stat-line-text{
	flex: 2;
	display: flex;
	justify-content: space-between;
}

.stat-line .stat-line-graphics {
	flex: 1;
	display: flex;
	width: 100%;
	padding-top: 2px;
}

/*.stat-line-graphics canvas {
	border: 1px solid var(--htmlBackground);
}*/